/*example css*/
.far-right {
    display: block;
    margin-left: auto;
    margin-right:20px;
}

.dt-buttons.btn-group .btn {
    padding-bottom: 6.5px !important;
    padding-top: 6.5px !important;
    visibility: hidden;
}